<div class="layout">

<header class="header">
    <nav class="nav">
      <div class="nav-left">
        <a routerLink="/products" class="nav-link">
          Products
        </a>
        <a routerLink="/cart" class="nav-link">
          Cart
        </a>
      </div>
      <div class="nav-right">
        <span id="cart-count">{{ cartService.getTotalItems() }} items in cart</span>
        <button (click)="logout()" class="logout-btn">
          Logout
        </button>
      </div>
    </nav>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

